/* Estilos Globales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


p {
    font-size: 15px;
}

/* Header */
header {
    padding: 20px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li a {
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

.logo {
    margin: 20px;
}

/* Secci贸n Nosotros */
section.nosotros {
    padding: 20px;
    text-align: center;
}

section.nosotros h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.nosotros-tarjetas article {
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    margin: 10px;
}

.nosotros-tarjetas article img {
    width: 105px;
    height: 105px;
}

.nosotros-tarjetas article p {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}

/* Secci贸n Clasificados */
.clasificados-tarjetas article {
    width: 380px;
    border: 1px solid #ccc;
}

.clasificados-tarjetas .card {
    margin-bottom: 20px;
}
.clasificados-tarjetas article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.clasificados-tarjetas article h3 {
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}

.clasificados-tarjetas article p {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}



.contenedor-iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    width: 85%;
}

.contenedor-iconos span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.contenedor-iconos img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#precio {
    color: #7AB206;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

.boton-grande-naranja {
    width: 90%;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 35px;
}

.boton-verde {
    width: 15%;
    padding: 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 91%;
    transform: translateX(-50%);
    margin-top: 35px;
}

/* Secci贸n Contacto */
section.contacto {
    background-image: url(../images/encuentra.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.contenido {
    max-width: 80%;
    margin-left: 20px;
}

.contacto h3, .contacto p {
    margin-bottom: 50px;
}

.contacto button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Secci贸n Blog */
.blog {
    width: 50%;
}

#blog {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer nav ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

footer nav ul li a {
    color: white;
    margin-right: 30px;
}

footer p {
    margin-right: 40px;
}
